<div *ngIf="hero$|async as hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <!-- <input id="hero-name" [(ngModel)]="hero.name" placeholder="name"> -->
    <input id="hero-name" #newName [ngModel]="hero.name" placeholder="name">
  </div>
  
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" class="save-button" (click)="save(hero.id,newName.value);">save</button>
</div>


<!-- <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''"> -->


<!-- <div *ngIf="hero$ | async as hero

  <h2>{{hero$ |async | uppercase}} Details</h2>
  <div><span>id: </span>{{hero$.id}}</div>
  <div>
    <label for=" hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero$.name|async" placeholder="name">
  </div>
</div>

<button type="button" (click)="goBack()">go back</button>
<button type="button" (click)="save()">save</button> -->